*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.form{
    /* position: absolute;
        top: 33%;
        right: 45%; */
        /* position: absolute; */
        /* right: 0; */
        /* margin: 20px; */
        /* max-width: 300px; */
        padding: 16px;
        /* margin: 70px 2px; */
        background-color: white;
        width: 30%;
        display: flex;
        flex-direction: column;
        border-radius: 11px;
        
        
}
.btn-login {
    /* background-color: #04AA6D; */
    /* color: white; */
    /* padding: 16px 20px; */
    /* border: none; */
    cursor: pointer;
    width: 100%;
    margin-bottom: 7px;
    /* opacity: 0.9; */
  }
/* input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  } */
  
.p-login{
    /* position: relative; */
    background-image: url("https://lounge.placepass.com/wp-content/uploads/2017/07/IMG_0946.jpg");
    /* min-height: 380px; */
    height:900px;
    width: 100%;
    /* opacity: 0.5; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

