* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h2,
h1 {
    text-align: center;

}

img {
    width: 15rem;
}

.image {
    width: 20rem;
    height: 15rem;
}

/* .col-sm-10{
    margin-left: 1px;
}  */

.btn-tenant-dash {
    margin: 10px;
}

/* .tenant-frame{
    width: 50%;
} */

/* .sort {
    /* margin-left: auto; */
/* width: 16%; */
/* }  */

/* .search-icon { */
/* width: 80%;
    height: 25px;
    margin: 0 auto;
    border: none;
    /* <-- This thing here */
/* border: solid 1px #ccc;
    border-radius: 10px; */

/* width: 1.5rem; */
/* height: 1.2rem; */
/* position: absolute; */
/* float: right; */
/* background-image: url("https://cdn0.iconfinder.com/data/icons/very-basic-2-android-l-lollipop-icon-pack/24/search-512.png"); */
/* } */