* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h2,
h1 {
    text-align: center;

}

img {
    width: 15rem;
}

/* .col-sm-10{
    margin-left: 1px;
}  */

.btn-tenant-dash {
    margin: 10px;
}

/* .tenant-frame{
    width: 50%;
} */

/* .sort {
    /* margin-left: auto; */
/* width: 16%; */
/* }  */